---
import { getCollection } from 'astro:content';

import WeaponEvolution from "../components/WeaponEvolution.astro";
import Layout from "../layouts/Layout.astro";
import ItemIcon from '../components/ItemIcon.astro';

export async function getStaticPaths() {
  return (await getCollection('weapons')).map(weapon => ({
    params: { weapon: weapon.id },
    props: { weapon }
  }))
}

const { weapon } = Astro.props;
const type = weapon.data.type === "weapon" ? 'Weapon' : 'Passive';

const evolutions = (await getCollection("evolutions")).filter(evolution => {
  return evolution.data.left.find(left => left.weapon === weapon.id)
    || evolution.data.right.find(right => right.weapon === weapon.id);
});

---
<Layout>
  <div class="flex flex-col gap-8 p-2">
    <div class="flex flex-row items-center gap-4">
      <ItemIcon href="/" imageUrl={`/${weapon.id}.webp`} />
      <div class="flex flex-col">
        <span class="text-stone-300 font-semibold text-lg leading-tight">{weapon.data.name}</span>
        <span class="text-stone-400 font-medium text-md italic leading-tight">{type}</span>
        <span class="text-stone-400 font-light text-sm italic leading-tight">{weapon.data.description}</span>
      </div>
    </div>
    {weapon.data.unlock_via && (
      <div class="flex flex-col gap-2 px-2">
        <span class="text-stone-400 font-light text-sm leading-tight">Unlocked by</span>
        <span class="text-stone-200 font-medium text-md leading-tight">{weapon.data.unlock_via}</span>
      </div>
    )}
    {weapon.data.starting_weapon_for && (
      <div class="flex flex-col gap-2 px-2">
        <span class="text-stone-400 font-light text-sm leading-tight">Starting weapon for</span>
        <span class="text-stone-200 font-medium text-md leading-tight">{weapon.data.starting_weapon_for}</span>
      </div>
    )}
    {evolutions.length > 0 && (
      <div class="flex flex-col gap-2 px-2">
        <span class="text-stone-400 font-light text-sm leading-tight">Evolutions</span>
        {evolutions.map(evolution => (
          <WeaponEvolution id={evolution.id} />
        ))}
      </div>
    )}
  </div>
</Layout>
