---
type Props = {
  description: string;
  iconSrc: string;
  ignores?: string;
  name: string;
}
const { description, iconSrc, ignores, name } = Astro.props;

const ignoresText = ignores ? `Ignores: ${ignores}` : undefined;
---
<div class="container">
  <div class="title">
    <img class="icon" src={iconSrc} />
    <span class="name">{name}</span>
  </div>
  <span class="description">{description}</span>
  {ignoresText && <span class="description">{ignoresText}</span>}
</div>
<style>
  .container {
    display: flex;
    flex-direction: column;
  }
  .title {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .icon {
    max-height: 100px;
    max-width: 100px;
  }
  @media only screen and (max-width: 600px) {
    .icon {
      max-height: 60px;
      max-width: 60px;
    }
  }
  .name {
    color: #e4e4e7;
    font-size: 2rem;
  }
  @media only screen and (max-width: 600px) {
    .name {
      font-size: 1.5rem;
    }
  }
  .description {
    color: #a1a1aa;
  }
</style>