---
import { getCollection, getEntry } from 'astro:content';
import { CircleArrowRight } from '@lucide/astro';
import ItemIcon from './ItemIcon.astro';

const characters = await getCollection("characters");
const relics = await getCollection("relics");
const weapons = await getCollection('weapons');

type Props = {
  id: string;
}

const { id } = Astro.props;
const evolution = await getEntry("evolutions", id);
---
<div class="flex flex-row flex-wrap gap-4 rounded-md p-4 w-fit bg-stone-800">
  <div class="flex flex-col md:flex-row gap-4">
    {evolution?.data.left.map((left) => {
      if (left.character) {
        return (
          <ItemIcon
            imageUrl={`/${left.character}.webp`}
            name={`${characters.find(w => w.data.id === left.character)?.data.name}${left.note ? ` (${left.note})` : ""}`} 
          />
        )
      } else if (left.relic) {
        return (
          <ItemIcon
            imageUrl={`/${left.relic}.webp`}
            name={`${relics.find(w => w.data.id === left.relic)?.data.name}${left.note ? ` (${left.note})` : ""}`} 
          />
        )
      } else if (left.weapon) {
        return (
          <ItemIcon
            href={`/${left.weapon}`}
            imageUrl={`/${left.weapon}.webp`}
            name={`${weapons.find(w => w.data.id === left.weapon)?.data.name}${left.note ? ` (${left.note})` : ""}`} 
          />
        )
      } 
    })}
  </div>
  <CircleArrowRight class="self-center text-stone-500" />
  {evolution?.data.right.map((right) => (
    <ItemIcon
      href={`/${right.weapon}`}
      imageUrl={`/${right.weapon}.webp`}
      name={`${weapons.find(w => w.data.id === right.weapon)?.data.name}${right.note ? ` (${right.note})` : ""}`}
    />
  ))}
</div>
